{% extends 'base.html' %}

{% block contents%}

    <h1>Delete snacks</h1>
    <div class="form-box">
    <form action="" method="POST">
    {% comment %} V THIS LINE IS VERY IMPORTANT, CLOSES THE DOOR ON SPECIFIC THREATS {% endcomment %}
    {% csrf_token %}
    {% comment %} RENDERS THE FORM AS A PARAGRAPH {% endcomment %}
    {{ form.as_p }}
    <p>C/mon, so you really want to delete {{ snack.name}}? </p>
    <input class="button" type="submit" value="OK">
    </form>
    </div>
{% endblock contents%}